.Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(15, 15, 15);

    height: 100vh;
}

#filters-container{

    padding: 2rem;
    width: 32rem;
    height: 40rem;

    border-radius: 2rem;
    border: solid rgb(255, 75, 75) 1px;
    box-shadow: 0 16px 96px 16px  rgba(255, 0, 0, 0.596);

}