#data-table{
    margin: 7rem;
    margin-left: 12rem;
}

.Content{
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,200,255,1) 29%, rgba(13,13,13,1) 61%);
    height: 100vh;
}

#filters-container{

    padding: 2rem;
    width: 72rem;
    height: 30rem;

    background: rgba(105, 105, 105, 0.247);
    border-radius: 2rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: solid rgb(255, 255, 255) 1px;
}

hr{
    width: 32rem;
    
    margin-right: 4rem;
}