.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(15, 15, 15);
    height: 100vh;
}

#home-container{

    padding: 2rem;
    width: 32rem;
    height: 30rem;
    
    border-radius: 2rem;
    border: solid rgb(75, 87, 255) 1px;
    box-shadow: 0 16px 64px 2px  rgba(0, 89, 255, 0.596);

    
}
.antt-content{
    background: rgb(25,25,25);
    background: linear-gradient(180deg, rgba(15,15,15,1) 50%, rgba(48,48,48,1) 100%);
}

#data-table{
    margin: 7rem 7rem 0 13rem;
    min-height: 100vh;  
}

#filter-buttons{
    display: flex;
    justify-content: end;
}
h1{
    color: aliceblue;
}

.ant-switch{
    margin: 1rem;
}



.ant-table-column-sorter-up {
    color: #ffffff; /* Change to your desired color */
}

/* Change the color of the caret-down icon */
.ant-table-column-sorter-down {
    color: #ffffff; /* Change to your desired color */
}


/* Custom styles for Ant Design Pagination */
.ant-pagination {
    background-color: #ffffff; /* Background color of the pagination container */
    padding: 16px; /* Adjust padding as needed */
}