.Home{
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    height: 100vh;
}

#home-container{

    padding: 2rem;
    width: 28rem;
    height: 28rem;

    background: rgba(45, 101, 221, 0.2);
    border-radius: 2rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: solid rgba(191, 204, 255, 0.452) 1px;
}