.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(68,94,242);
    background: radial-gradient(circle, rgba(68,94,242,1) 0%, rgba(5,199,242,1) 25%, rgba(242,242,242,1) 50%);
    height: 100vh;
}

#home-container{

    padding: 2rem;
    width: 32rem;
    height: 30rem;
    
    background: rgba(240, 240, 240, 0);
    border-radius: 2rem;
    border: solid whitesmoke 2px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    
}

#data-table{
    margin: 7rem;
    margin-left: 12rem;
}

#filter-buttons{
    display: flex;
    justify-content: end;
}

.ant-switch{
    margin: 1rem;
}

h1{
    color: aliceblue;
}